# Basics
python-dotenv

numpy
matplotlib
jupyter

# Torch
torch=2.5.0+cu118
torchaudio=2.5.0+cu118
torchvision=0.20.0+cu118

# HuggingFace
transformers
bitsandbytes
accelerate

# Tools
duckduckgo-search
Wikipedia-API